.center-form-Book {
  position: relative;
  left: 50%;
  width: 50%;
  // top: 50%;
  margin-top: 15%;
  transform: translate(-50%, -50%);
  border: 5px solid #ffff00;
  padding: 10px;
  background-color: #ffff;
}

.contact_form_wrapper {
    padding: 0 16px;
}

.form_title {
    font-size: 18px;
    color: #0051ad;
    font-weight: 700;
}

.form_title p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.contact_form_wrapper form .form-group {
    position: relative;
    margin-bottom: 8px;
}

.contact_form_wrapper form .form-group input, .contact_form_wrapper form .form-group select {
    max-height: 36px;
    padding: 0 16px;
    font-size: 14px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.2em + 1.75rem + 2px);
    padding: .875rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #30374b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c3c3c3;
    border-radius: .125rem;
}

.radio-form {
    display: flex;
    justify-content: center;
}

.mail-icon {
    position: absolute;
    top: 12px;
    right: 635px;
  }

  .mobile-icon {
    position: absolute;
    top: 5px;
    right: 635px;
  }