.list-group {
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
}

.list-group-item {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    display: block;
    padding: .75rem 1.25rem;
    position: relative;
}

.list-group-item-action {
    color: #495057;
    text-align: inherit;
    width: 100%;
}

button:not(:disabled) {
    cursor: pointer;
}