.main {
    color: rebeccapurple;
}

#mainmenu-navbar {

}

.headerMain {
    position: absolute;
    width: 256px;
    height: 146px;
    left: 0px;
    top: 0px;
  }
  .mainLogo {
    position: absolute;
    width: 132px;
    height: 132px;
    left: 57px;
    top: 7px;
  
    background: url(../../../assets/images/logo-car.png) no-repeat center
      center / cover;
    background-size: 188px 188px;
  }